<header class="container mt-2">
  <nav class="navbar bg-body-tertiary rounded-1" aria-label="Light offcanvas navbar">
    <div class="container-fluid">
      <img src="./assets/logo-bit.png" alt="" class="logo-navbar">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight" aria-labelledby="offcanvasNavbarLightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" *ngIf="(userRole$ | async) === 'admin'">
              <a class="nav-link" routerLink="/admin">Administração</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="(userEmail$ | async) as userEmail">
                  {{ userEmail }}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item">Perfil</a></li>
                <li><a class="dropdown-item" >Meu Rank</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logout()">Sair</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

</header>
