
<div class="central">
  <div class="form-signin text-center">
    <form [formGroup]="recovery">
      <img class="mb-4" src="./assets/logo-bit.png" alt="" width="260" height="90">
      <h1 class="h5 mb-3 fw-normal titulo-form">Recuperar Senha</h1>

      <div class="form-floating">
        <input type="email" class="form-control"id="email" placeholder="name@example.com" formControlName="email">
        <label>Email address</label>
      </div>
      <div *ngIf="recovery.controls['email'].invalid && recovery.controls['email'].touched">
        Email is required.
      </div>
      <div class="d-grid gap-2 mx-auto">
        <button class="w-100 btn btn-lg btn-primary mt-2" type="submit" (click)="recoveryUser()" [disabled]="!recovery.valid">Recuperar</button>
        <button class="w-100 btn-lg btn btn-light" type="button" routerLink="/login">Voltar</button>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; rootdanley</p>
    </form>
  </div>
</div>
